{% load static mptt_tags %}

<header>

    <div class="header-top">

        <div class="container">

            <ul class="header-social-container">
                {% for network in networks %}
                    <li>
                        <a href="{{ network.url }}" class="social-link" target="_blank">
                            <img src="{{ network.photo.url }}" alt="{{ network.name }}" width="18" height="18">
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="header-alert-news">
                <p>
                    <b>Free Shipping</b>
                    This Week Order Over - $55
                </p>
            </div>

            <div class="header-top-actions">

                <select name="currency">

                    <option value="usd">USD &dollar;</option>

                </select>

                <select name="language">

                    <option value="en-US">English</option>

                </select>

            </div>

        </div>

    </div>

    <div class="header-main">

        <div class="container">

            <a href="/" class="header-logo">
                <img src="{{ logo.photo.url }}" alt="Logo" width="120" height="36">
            </a>

            <div class="header-search-container">

                <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </div>

            <div class="header-user-actions">

                <a href="#" class="action-btn">
                    <ion-icon name="person-outline"></ion-icon>
                </a>

                <a href="#" class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">0</span>
                </a>

                <a href="{% url 'cart' %}" class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">{{ cartItems }}</span>
                </a>

            </div>

        </div>

    </div>

    <nav class="desktop-navigation-menu">

        <div class="container">

            <ul class="desktop-menu-category-list">

                <li class="menu-category">
                    <a href="{% url 'home' %}" class="menu-title">Home</a>
                </li>

                <li class="menu-category">
                    <a href="{% url 'blogs' %}" class="menu-title">Blogs</a>
                </li>

                {% recursetree categories %}

                    {% if node.is_menu_field %}
                        <li class="menu-category">
                            <a href="{{ node.get_absolute_url }}" class="menu-title">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="dropdown-list">
                                    {% for children in node.children.all %}
                                        <li class="dropdown-item">
                                            <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endrecursetree %}

                <li class="menu-category">
                    <a href="{% url 'hot-offers' %}" class="menu-title">Hot Offers</a>
                </li>

            </ul>

        </div>

    </nav>

    <div class="mobile-bottom-navigation">

        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <a href="{% url 'cart' %}" class="action-btn">
            <ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count">{{ cartItems }}</span>
        </a>

        <a href="{% url 'home' %}" class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </a>

        <a href="#" class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span>
        </a>

        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="grid-outline"></ion-icon>
        </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

        <div class="menu-top">
            <h2 class="menu-title">Menu</h2>

            <button class="menu-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="mobile-menu-category-list">

            <li class="menu-category">
                <a href="{% url 'home' %}" class="menu-title">Home</a>
            </li>

            <li class="menu-category">
                <a href="{% url 'blogs' %}" class="menu-title">Blogs</a>
            </li>

            {% recursetree categories %}

                {% if node.is_menu_field %}
                    <li class="menu-category">
                        <a href="{{ node.get_absolute_url }}" class="menu-title">{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="dropdown-list">
                                {% for children in node.children.all %}
                                    <li class="dropdown-item">
                                        <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endrecursetree %}

            <li class="menu-category">
                <a href="{% url 'hot-offers' %}" class="menu-title">Hot Offers</a>
            </li>

        </ul>

        <div class="menu-bottom">

            <ul class="menu-category-list">

                <li class="menu-category">

                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Language</p>

                        <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                    </button>

                    <ul class="submenu-category-list" data-accordion>

                        <li class="submenu-category">
                            <a href="/" class="submenu-title">English</a>
                        </li>

                    </ul>

                </li>

                <li class="menu-category">

                    <button class="accordion-menu" data-accordion-btn>
                        <p class="menu-title">Currency</p>
                        <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                    </button>

                    <ul class="submenu-category-list" data-accordion>

                        <li class="submenu-category">
                            <a href="/" class="submenu-title">USD &dollar;</a>
                        </li>

                    </ul>
                </li>

            </ul>

            <ul class="menu-social-container">

                {% for network in networks %}
                    <li>
                        <a href="{{ network.url }}" class="social-link" target="_blank">
                            <img src="{{ network.photo.url }}" alt="{{ network.name }}" width="25" height="25">
                        </a>
                    </li>
                {% endfor %}

            </ul>

        </div>

    </nav>

</header>
