{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="blog-container has-scrollbar">
        <div class="container ">
            <div class="blog-card">

                <img src="{{ blog.photo.url }}"
                     alt="{{ blog.title }}"
                     width="250"
                     height="250"
                     class="blog-banner">


                <div class="blog-content">

                    <a href="{{ blog.category.get_absolute_url }}"
                       class="blog-category">{{ blog.category.title }}</a>

                    <h3 class="blog-title">{{ blog.title }}</h3>

                    <p>{{ blog.text }}</p>

                    <p class="blog-meta">
                        By <cite>{{ blog.author.username }}</cite> /
                        <time datetime="{{ blog.created_at }}">{{ blog.created_at }}</time>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}